---
layout: default
---
<h1>Grant Number: {{ page.grant_number }}</h1>
<h1>Grant Title: {{ page.title }}</h1>
<h1>Institution: {{ page.institution }}</h1>
<h1>Contact: {{ page.contact }}</h1>
<h1>Email: {{ page.email }}</h1>

<hr>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>URL</th>
      <th>Checksum</th>
      <th>Checked</th>
      <th>Restricted</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for asset in page.assets %}
    <tr>
      <td>{{ asset.filename }}</td>
      <td>{{ asset.online_url }}</td>
      <td>{{ asset.checksum }}</td>
      <td>{{ asset.checked }}</td>
      <td>{{ asset.restricted }}</td>
      <td>{{ asset.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
